name: continuous-integration

on: [push, pull_request]

# Cancel in-progress runs when a new push is made to the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest] # note mac-latest tests fail due to slight differences in images
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt # visual tests are very finiky so fix the versions
        pip install . # install pyopenms-viz
    - name: Test
      run: |
        python -m pytest --snapshot-warn-unused test/ # do not fail if unused snapshot, just warn
